In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../datasets/veriler.csv')
df.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [8]:
df['boy'].head()

0    130
1    125
2    135
3    133
4    129
Name: boy, dtype: int64

In [7]:
df[['boy','kilo']].head()

   boy  kilo
0  130    30
1  125    36
2  135    34
3  133    30
4  129    38